body {
    background: #e9e9e9;
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#header{
    background: #ed2553;
    padding: 20px;
    color: white;
}
#header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.logout{
    float: right;
}
.container{
    margin-top: 25px !important;
}